[Desktop Entry]
Name=Orion Dark
X-KDE-PluginInfo-Author=Maurício de Lima
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=mauriciodelima.mol@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Orion-dark
X-KDE-PluginInfo-Version=1.0
